@use '~@strategies/tokens/animation';
@use '~@strategies/tokens/layout';

.Layout {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    display: grid;
    gap: layout.$padding--small;
    grid-template-rows: 1.3fr 1fr;
    grid-template-columns: 2fr 30rem 1fr;


    width: 100%;
    height: 100%;
    padding: layout.$padding--smallest;

    pointer-events: none;

    > * {
        pointer-events: all;
        transition: width animation.$speed--fast, height animation.$speed--fast;
    }

    @extend ._Layout-Default;
    &.A { @extend ._Layout-A; }

}

._Layout-Default {
    .DataPanel {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .SelectionPanel {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .navigation {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        pointer-events: none; // prevent blocking mouse events to canvas
    }

    .TopRibbon--slot {
        pointer-events: all;//override for the above so user can click buttons
    }
}

._Layout-A {
    .SelectionPanel {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 4;
    }
}
