.DataPanel.Panel {
    width: 100%;
    height: 100%;
    margin-top: auto;
    margin-bottom: 0;
}

.ManualScatter {
    display: inline-block;
    width: 48%;
}

.ManualScatter {
    display: inline-block;
    width: 48%;
}
.SpaceTreemap {
    display: inline-block;
    width: 48%;
    position: relative;
    svg {
        margin-top: 12px;
    }
    .title {
        text-align: center;
        position: absolute;
        top:3px;
        right:0;
        left:0;
    }
}
