@use '~@strategies/tokens/color';
@use '~@strategies/tokens/font';
@use '~@strategies/tokens/layout';


.LoadModal.Modal {

    .Modal {
        &--window {
            padding: layout.$padding;
        }
    }

    header {
        display: none;
    }

    .logo {
        text-align: center;
        padding: layout.$padding--small;

        img {
            width: 90%;
            max-width: 16rem;
        }
    }

    p {
        padding: layout.$padding * 2 0;
        margin-bottom: layout.$padding * 2;

        font-weight: font.$weight--regular;

        border-bottom: 6px solid color.$blue--light;
    }

    .ReactForm__Input {
        margin-bottom: 2rem;

        input {
            flex: 1;
        }
    }

}
